@import "https://use.fontawesome.com/releases/v5.0.6/css/all.css";

.modal-card {
	width:712px;
}

.tall-modal {
	min-height: 400px;
}

#formNotes {
	min-height: 300px;
}

.display {
	margin-top: 12px;
	position: fixed;
	display: block;
	z-index: 2;
}

.no-display {
	display: none;
}

.adjacent-buttons {
	margin-left: 6px;
	margin-right: 6px;
}